.header-nav-list {
    display: flex;
    justify-content: center;
}

.header-nav-item {
    margin-left: 64px;

}

.heder-list {
    display: flex;
    justify-content: space-between;
    margin: 35px 170px
}

.header-nav-item {
    font-weight: 500;
}