:root {
    --color-primary: #21243D;
    --color-secondary: #8695A4;
    --color-background-color: #EDF7FA;
    --color-button: #FF6464;
    --color-view: #00A8CC;
    --color-background-color-secondary: #2A326F;
    --color-box-shadow: rgba(0, 0, 0, 0.08);
    --color-copirating: #678398;

}